@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@700&display=swap');

/* colour palette */
:root {
    --main-colour: #222831;
    --sec-colour: #393E46;
    --text-colour: #00ADB5;
    --secondtxt-colour: #EEEEEE;
}


* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.holy-grail {
    font-family: Roboto Condensed, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    min-height: 100vh;
}

.holy-grail, .holy-grail-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    background-color: var(--sec-colour);
}

.holy-grail-content {
    flex: 1 1 auto;
}

.holy-grail-sidebar-1 {
    order: -1;
}

@media (min-width: 768px) {
    .holy-grail-body {
        flex-direction: row;
    }

    .hg-sidebar {
        flex: 0 0 260px;
    }
}

footer {
    text-align: center;
}

.social-networks > li {
    display: inline;
} 

.social-networks i {
    font-size: 150%;
    margin: 1%;
    color: var(--secondtxt-colour);
}

/* headings + logo */
h1, h2 {
    font-family: Roboto Condensed, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--secondtxt-colour);
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navbar */
.rtl {
    text-align: right;
}

#menu {
    background: var(--main-colour);
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#logo {
    color: var(--text-colour);
}

#menu li {
    color: var(--text-colour);
    list-style-type: none;
    margin-right: 30px;
    display: inline;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid var(--secondtxt-colour);
}

.navactive {
    border-bottom: 1px solid var(--secondtxt-colour);
}

p {
    line-height: 32px;
    margin-bottom: 50px;
    font-family: Cabin, sans-serif;
    letter-spacing: 2px;
    color: var(--secondtxt-colour);
}

/* Style form elements */

form {
    text-align: center;
}

label {
    color: var(--secondtxt-colour);
}

.text-input {
    display: block;
    background: whitesmoke;
    border: 1px solid var(--text-colour);
    margin: 5px auto;
    height: 35px;
    width: 25%;
}

#submit-button:hover {
    background: var(--text-colour);
    color: var(--secondtxt-colour);
}

.input-button {
    width: 80px;
    margin: 30px auto 0;
    padding: 5px;
    text-align: center;
    background: var(--main-colour);
    color: var(--secondtxt-colour);
    font-size: larger;
}