@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@700&display=swap');

/* colour palette */
:root {
    --main-colour: #222831;
    --sec-colour: #393E46;
    --text-colour: #00ADB5;
    --secondtxt-colour: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.holy-grail {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    min-height: 100vh;
}

.holy-grail, .holy-grail-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    background-color: var(--sec-colour);
}

.holy-grail-content {
    flex: 1 1 auto;
}

footer {
    text-align: center;
}

.social-networks > li {
    display: inline;
} 

.social-networks i {
    font-size: 150%;
    margin: 1%;
    color: var(--secondtxt-colour);
}

/* headings + logo */
h1, h2 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--secondtxt-colour);
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navbar */
.rtl {
    text-align: right;
}

#menu {
    background: var(--main-colour);
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#logo {
    color: var(--text-colour);
}

#menu li {
    color: var(--text-colour);
    list-style-type: none;
    margin-right: 30px;
    display: inline;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid var(--secondtxt-colour);
}

.navactive {
    border-bottom: 1px solid var(--secondtxt-colour);
}

p {
    line-height: 32px;
    margin-bottom: 50px;
    font-family: 'Cabin', sans-serif;
    letter-spacing: 2px;
    color: var(--secondtxt-colour);
}

/* style the movie page */
img {
    max-width: 100%;
    height: 50%;
}

.image {
    flex-basis: 20%;
}

.text {
    font-size: 20px;
    padding-left: 20px;
}


.thankyoucontainer {
    text-align: center;
    font-size: smaller;
    width: 66%;
    background: whitesmoke;
    margin: 15px auto;
    padding: 30px;
}

.border {
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0px 1px 9px 2px black;
}

.thankyoucontainer > p, h1 {
    color: black;
}

/* Style form elements */

form {
    text-align: center;
}

label {
    color: var(--secondtxt-colour);
}

.text-input {
    display: block;
    background: whitesmoke;
    border: 1px solid var(--text-colour);
    margin: 5px auto;
    height: 35px;
    width: 25%;
}

#submit-button:hover {
    background: var(--text-colour);
    color: var(--secondtxt-colour);
}

.input-button {
    width: 80px;
    margin: 30px auto 0;
    padding: 5px;
    text-align: center;
    background: var(--main-colour);
    color: var(--secondtxt-colour);
    font-size: larger;
}

.mgs-card {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 800px;
    height: 100%;
    min-height: 300px;
    display: block;
    margin-top: 8vh;
    margin-bottom: 0;
    border-radius: 8px;
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}

/* movies */
.mgs-card[data-movie="Drive"] {
    background-image: url("../img/movies/drivelandscape.avif");
}

.mgs-card[data-movie="Se7en"] {
    background-image: url("../img/movies/seven.avif");
}

.mgs-card[data-movie="The Batman"] {
    background-image: url("../img/movies/thebatman.avif");
}

.mgs-card[data-movie="The Raid"] {
    background-image: url("../img/movies/theraid.avif");
}

.mgs-card[data-movie="The Matrix"] {
    background-image: url("../img/movies/matrix.avif");
}

.mgs-card[data-movie="Fight Club"] {
    background-image: url("../img/movies/fightclub.avif");
}

.mgs-card[data-movie="Inception"] {
    background-image: url("../img/movies/inception.avif");
}

.mgs-card[data-movie="LOTR"] {
    background-image: url("../img/movies/lotr.avif");
}

.mgs-card[data-movie="Dark Knight"] {
    background-image: url("../img/movies/darkknight.avif");
}
/* movies end */

/* shows */
.mgs-card[data-show="Community"] {
    background-image: url("../img/shows/community.avif");
}

.mgs-card[data-show="Lost"] {
    background-image: url("../img/shows/lost.avif");
}

.mgs-card[data-show="One Punch Man"] {
    background-image: url("../img/shows/onepunch.avif");
}

.mgs-card[data-show="Breaking Bad"] {
    background-image: url("../img/shows/breakingbad.avif");
}
.mgs-card[data-show="Better Call Saul"] {
    background-image: url("../img/shows/bettercallsaul.avif");
}

.mgs-card[data-show="Invincible"] {
    background-image: url("../img/shows/invincible.avif");
}

.mgs-card[data-show="The Boys"] {
    background-image: url("../img/shows/theboys.avif");
}

.mgs-card[data-show="Attack on Titan"] {
    background-image: url("../img/shows/attackontitan.avif");
}

.mgs-card[data-show="Mr Robot"] {
    background-image: url("../img/shows/mrrobot.avif");
}
/* shows end */

/* games */
.mgs-card[data-game="Bloodborne"] {
    background-image: url("../img/games/bloodborne.avif");
}
.mgs-card[data-game="Control"] {
    background-image: url("../img/games/control.avif");
}
.mgs-card[data-game="Mad Max"] {
    background-image: url("../img/games/madmax.avif");
}
.mgs-card[data-game="Sekiro"] {
    background-image: url("../img/games/sekiro.avif");
}
.mgs-card[data-game="Uncharted2"] {
    background-image: url("../img/games/uncharted2.avif");
}
.mgs-card[data-game="Dark Souls"] {
    background-image: url("../img/games/dsrimage.avif");
}
.mgs-card[data-game="God of War"] {
    background-image: url("../img/games/godofwar.avif");
}
.mgs-card[data-game="Batman"] {
    background-image: url("../img/games/batmanarkhamcity.avif");
}
.mgs-card[data-game="Half-Life"] {
    background-image: url("../img/games/halflife.avif");
}
/* games end */

.mgs-card-overlay {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: linear-gradient(to right, rgba(42, 159, 255, 0.2) 0%, #212120 60%, #212120 100%);
    background-blend-mode: multiply;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.mgs-card-share {
    padding: 1em;
    display: inline-block;
    width: 100%;
    max-width: 130px;
}

.mgs-card-icon {
    color: #fff;
    mix-blend-mode: lighten;
    opacity: 0.4;
    background: none;
    padding: 0;
}

.mgs-card-icon:hover {
    opacity: 1;
    mix-blend-mode: lighten;
}

.mgs-card-icon:not(:first-of-type) {
    margin-left: 5px;
}

.mgs-card-icon i {
    font-size: 1.2em;
}

.mgs-card-content {
    width: 100%;
    max-width: 370px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    float: right;
    padding-right: 1.2em;
    padding-bottom: 1em;
}

.mgs-card-header {
    margin-bottom: 2em;
}

.mgs-card-title {
    color: #fff;
    margin-bottom: 0.25em;
    opacity: 0.75;
}

.mgs-card-info {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8em;
    color: #2a9fff;
    line-height: 1;
    margin: 0;
    font-weight: 700;
    opacity: 0.5;
}

.mgs-card-desc {
    font-weight: 300;
    opacity: 0.84;
    margin-bottom: 2em;
}

.btn {
    padding: 0.5rem 2rem;
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
}

.btn-outline {
    background-color: transparent;
    border: 3px solid #fff;
}

.btn::before {
    font-family: "Material Icons";
    vertical-align: middle;
    font-size: 1.5em;
    padding-right: 0.5em;
}

.btn-outline:hover {
    border-color: #2a9fff;
    color: #2a9fff;
    box-shadow: 0px 1px 8px 0px rgba(245, 199, 0, 0.2);
}

/* grid layout */
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cell {
    flex: 0 0 32%;
    margin-bottom: 5px;
}

.column {
    float: left;
    width: 33.33%;
    background-color: #00ADB5;
    padding: 10px;
    text-align: center;
    height: 92vh;
}

.red {
    background-color: #FF1E1F;
}

.green {
    background-color: #00FF01;
}

.blue {
    background-color: #1515FF;
}

.row:after {
    content: '';
    display: table;
    clear: both;
}

.col-h2 {
    color: black;
    margin-top: 46vh;
}

/*#hamburger-input {
    display: none;
}

#hamburger-menu {
    position: absolute;
    top: 12.5px;
    left: 20px;
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
    background: linear-gradient(
        to bottom,
        #222831, #222831 20%, 
        white 20%, white 40%, 
        #222831 40%, #222831 60%, 
        white 60%, white 80%, 
        #222831 80%, #222831 100%
    );
}

#hamburger-menu #sidebar {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: var(--main-colour);
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    z-index: 1;
}

#hamburger-menu h1 {
    color: var(--text-colour);
    font-size: 2.2rem;
    padding-top: 15px;
}

#hamburger-menu ul {
    padding-left: 0px;
}

#hamburger-menu li {
    list-style-type: none;
    line-height: 3rem;
    padding-top: 15px;
}

#hamburger-menu a {
    color: var(--text-colour);
    font-size: 1.3rem;
    text-decoration: none;
}

#hamburger-menu a:hover {
    text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar {
    visibility: visible;
    left: 0;
}*/

@media screen and (max-width: 1680px) {
    .grid {
        flex-direction: column;
    }

    .mgs-card {
        margin-top: 4vh;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }

}

/* column responsiveness */
@media screen and (max-width: 600px) { 
    .column {
        width: 100%;
        height: 46vh;
    }

    .col-h2 {
        margin-top: 23vh;
    }
}

/* mobile responsiveness */
@media screen and (max-width: 600px) {
    #hamburger-menu {
        display: inline;
    }

    .rtl {
        background-color: var(--main-colour);
    }

    .movie-card__overlay {
        background: linear-gradient(to bottom, rgba(42, 159, 255, 0.2) 0%, #212120 60%, #212120 100%);
    }

    .mgs-card {
        background-position: 50% 0%;
        background-size: cover;
        height: 400px;
    }

    .movie-card__content {
        margin-top: 4.2em;
        width: 100%;
        float: inherit;
        max-width: 100%;
        padding: 0 1em 1em;
    }
}

/* small phone screens */
@media screen and (max-width: 400px) {
    .rtl {
        height: 7vh;
    }

    ul {
        padding-top: 10px;
        height: 7vh;
    }

    #menu, #logo {
        line-height: 35px;
    }

    #logo {
        font-size: 200%;
        margin-left: 0;
        padding-top: 12px;
    }

    #menu li {
        margin-right: 20px;
    }

    #menu {
        letter-spacing: 0;
    }

    .mgs-card-header {
        padding-left: 5px;
        margin-bottom: 0px;
    }

    p {
        letter-spacing: 0px;
    }

    .mgs-card-share {
        padding: 10px;
    }

    .mgs-card-desc {
        text-align: left;
        padding-left: 5px;
    }

    .btn-outline {
        margin-left: 11px;
    }
}

@media screen and (max-width: 800px) {
    .mgs-card {
      width: 95%;
      max-width: 95%;
    }
}

@media screen and (max-width: 1000px) {
    .movie-card__content {
      width: 50%;
    }
}

